

/* Sidebar styles */
.sidebar {
  text-align: left;
  /* จัดข้อความชิดซ้าย */

}

.btn-toggle {
  text-align: left;
  /* จัดข้อความในปุ่มชิดซ้าย */
}
.btn-toggle :hover {
  background-color: #fff; /* สีเมื่อ hover */
}


#content-tainer{
  margin-left: 300px; /* ระยะห่างจากด้านซ้ายเท่ากับความกว้าง Sidebar */
  height: 100vh; /* เต็มความสูงของหน้าจอ */
  overflow-y: auto; /* เลื่อนเฉพาะแนวตั้งได้ */
  overflow-x: hidden; /* ปิดการเลื่อนแนวนอน */
  padding: 20px; /* ระยะห่างภายใน */
  cursor: pointer;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;  /* Adjust based on your sidebar width */
  height: 100vh;
  overflow-y: auto;
  cursor: pointer;
}


.btn-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff; /* สีพื้นหลัง */
  color: #000000; /* สีตัวอักษร */
  text-decoration: none; /* ลบเส้นใต้ */
  border-radius: 5px; /* มุมโค้ง */
  font-size: 16px;
  text-align: left;
  transition: background-color 0.3s;
}

.btn-link:hover {
  background-color: #fff; /* สีเมื่อ hover */
}

.img {
  max-width: 100%; /* ป้องกันภาพล้น */
  height: auto;    /* ปรับขนาดอัตโนมัติ */
}

/* ส่วนของphp */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}
h1 {
  color: #333;
}
.document {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
}
.document h2 {
  margin-top: 0;
  color: #7594b6;
}

